// design tokens

/*----------------------------
 colors
----------------------------*/
$magenta: hsl(303, 10%, 53%);
$light-magenta: hsl(300, 24%, 96%);
$dark-magenta: hsl(300, 43%, 22%);

$soft-pink: hsl(333, 80%, 67%);
$white: hsl(0, 0%, 100%);

/*----------------------------
typography
----------------------------*/
body {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 15px;
    overflow-x: hidden;
}


