// design tokens

/*----------------------------
 colors
----------------------------*/


/*----------------------------
typography
----------------------------*/
//CHANGE TO CHALLENGE TYPOGRAPHY
body {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

button {
    border: none;
}
