/*----------------------------
      layout and images
 ----------------------------*/

body {
  display: flex;
  justify-content: center;
  background: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.social-proof {
  margin: 80px 24px 99px;
}

/*----------------------------
      hero section 
 ----------------------------*/

.hero {
  display: flex;
  flex-direction: column;

  &__description {
    margin: 0 auto;
    text-align: center;
    max-width: 327px;
    align-items: center;
  }

  &__heading {

    color: $dark-magenta;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -1.14px;
  }

  &__paragraph {
    color: $magenta;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin: 18px 0 40px;
  }

  &__reviews-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__review {
    display: flex;
    flex-direction: column;
    background: $light-magenta;
    text-align: center;
    gap: 16px;
    padding: 16px 0 16px;
  }

  &__stars {
    display: flex;
    justify-content: center;
    gap: 8.45px;
  }

  &__label {
    color: $dark-magenta;
    font-size: 13px;
    font-weight: 700;
    line-height: 14.56px;
  }
}

/*----------------------------
      comments section 
----------------------------*/

.comments {
  margin-top: 49px;
  
  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__testimonial {
    background: $dark-magenta;
    border-radius: 8px;
    padding: 40px 32px 32px;
    color: $white;
    max-width: 327px;
  }

  &__headshot {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 23px;
  }

  &__name {
    font-size: 13px;
    line-height: 14.56px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__verified {
    color:  $soft-pink;
    font-size: 13px;
    line-height: 14.56px;

  }

  &__text {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.23px;
    font-weight: 500;
    margin-top: 26px;
  }

  

  
}
